{{- define "main" }}

<header class="page-header">
  <h1>{{ .Title }}</h1>
  {{- if .Description }}
  <div class="post-description">
    {{ .Description | markdownify }}
  </div>
  {{- end }}
</header>

{{/* /collections/ page: show each collection as a card */}}
{{- range .Pages }}
<article class="post-entry">
  <header class="entry-header">
    <h2 class="entry-hint-parent">{{ .Title }}</h2>
  </header>
  {{- with .Description }}
  <div class="entry-content">
    <p>{{ . }}</p>
  </div>
  {{- end }}
  <footer class="entry-footer">
    <span>{{ len .Pages }} articles</span>
  </footer>
  <a class="entry-link" aria-label="post link to {{ .Title | plainify }}" href="{{ .Permalink }}"></a>
</article>
{{- end }}

{{- end }}{{- /* end main */ -}}
